* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: radial-gradient(#000, #1d1256);
    height: 100vh;
    Display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode-generator-container {
    background-color: #2c2069;
    border: 2px solid #3a2a86;
    border-radius: 15PX;
    display: flex;
    color: #FFFFFF;
    padding: 50PX;
    gap: 50px;
}

.container h1 {
    text-align: center;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 30px;
}

.container span {
    color: #5785da;
}

.qrcode-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    width: 350px;
    justify-content: center;
}

.qrcode-details .qr-code-title h2{
    font-size: 65px;
    text-align: center;
    font-weight: 800;
}

.qrcode-details .qr-code-title h3{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-top: -10px;
    letter-spacing: 5px;
}

.qr-code-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.qr-code-link label {
    font-size: 16px;
    font-weight: 600;
    align-self: center;
}

.qr-code-link input {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background-color: #ffffffde;
}

.qr-code-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.qr-code-preview p{
    display: flex;
    justify-content: center;
}

.qrcode img{
    max-width: 300px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.download-button {
    display: none;
}

button {
    border-radius: 30px;
    padding: 8px 30px;
    border: none;
    background-image: linear-gradient( #5785da, #1d3d79);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
}

button:hover {
    background-image: linear-gradient( #537cc9, #1a3870);
    transform: scale(1.05);
}


